<template>
    <Page>
        <LinksNav />

        <AcademicLinks />

        <Separator icon="heart" />
        <Support />
        <section>
            <Share :title="$t('links.academic.header')" />
        </section>
    </Page>
</template>

<script>
import { head } from '../src/helpers.ts';

export default {
    head() {
        return head({
            title: this.$t('links.academic.header'),
        });
    },
};
</script>
