<template>
    <Page>
        <NotFound v-if="pronounGroups === undefined" />
        <div v-else>
            <h2 class="d-flex justify-content-between">
                <span>
                    <Icon v="tag" />
                    <T>pronouns.intro</T><T>quotation.colon</T>
                </span>
                <ComprehensiveSwitch @update:comprehensive="updated => comprehensive = updated" />
            </h2>

            <section>
                <div class="alert alert-primary">
                    <h2 class="text-center mb-0">
                        <strong>
                            <Spelling :text="short" />
                        </strong>
                    </h2>
                    <p class="h6 small text-center mb-0 mt-2">
                        <em>
                            <T>pronouns.any.description</T>
                            (<T>pronouns.any.options</T>)
                        </em>
                    </p>
                </div>
            </section>

            <section>
                <h2 class="h4">
                    <Icon v="file-signature" />
                    <T>pronouns.examples</T><T>quotation.colon</T>
                </h2>

                <ul>
                    <li v-for="example in examples" v-if="!example.comprehensive || comprehensive" class="my-1">
                        <Example :example="example" :pronoun="randomPronounForExample(example)" link />
                    </li>
                </ul>
            </section>

            <PronounGroup v-for="pronounGroup in pronounGroups" :key="pronounGroup.name" :pronoun-group="pronounGroup" />

            <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

            <section>
                <Share :title="`${$t('pronouns.intro')}: ${$t('pronouns.any.short')}`" />
            </section>

            <Separator icon="info" />
            <section class="mb-0">
                <h2 class="h4">
                    <Icon v="info-circle" />
                    <T>home.whatisit</T><T>quotation.colon</T>
                </h2>
                <T>home.about</T>
                <Homepage align="center" />

                <AdPlaceholder :phkey="['content-1', 'content-mobile-1']" />
            </section>
        </div>
    </Page>
</template>

<script>
import { examples, pronouns, pronounLibrary } from '../src/data.js';
import { head } from '../src/helpers.ts';

export default {
    data() {
        const groupKey = this.$route.params.group;
        let pronounGroups = [];
        let short;
        if (groupKey) {
            const merged = pronounLibrary.byKey()[groupKey];
            pronounGroups = merged.groups;
            short = merged.short(this.$translator);
        } else {
            short = this.$t('pronouns.any.short');
        }

        return {
            examples,
            short,
            pronounGroups,

            comprehensive: false,
        };
    },
    head() {
        return head({
            title: `${this.$t('pronouns.intro')}: ${this.short}`.trim(),
            banner: `api/banner/${this.$t('pronouns.any.short')}.png`,
        });
    },
    computed: {
        pronounsChoice() {
            if (!this.pronounGroups.length) {
                return pronouns;
            }

            let choice = {};
            for (const pronounGroup of this.pronounGroups) {
                choice = { ...choice, ...pronounGroup.groupPronouns };
            }
            return choice;
        },
    },
    methods: {
        randomPronounForExample(example) {
            const suitablePronouns = Object.values(this.pronounsChoice)
                .filter((pronoun) => example.requiredMorphemesPresent(pronoun));
            return suitablePronouns[suitablePronouns.length * Math.random() << 0];
        },
    },
};
</script>
