<template>
    <Page>
        <CommunityNav />

        <h2>
            <Icon v="book-heart" />
            <T>inclusive.headerLong</T>
        </h2>

        <section>
            <T>inclusive.info</T>
            <Share :title="$t('inclusive.headerLong')" />
        </section>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <InclusiveDictionary ref="inclusivedictionary" load />
    </Page>
</template>

<script>
import { head } from '../src/helpers.ts';
import hash from '../plugins/hash.js';

export default {
    mixins: [hash],
    head() {
        return head({
            title: this.$t('inclusive.headerLong'),
            description: this.$t('inclusive.info')[0],
        });
    },
    mounted() {
        this.handleHash(this.$config.inclusive.hashNamespace || '', (filter) => {
            this.$refs.inclusivedictionary.setFilter(filter);
        });
    },
};
</script>
