<template>
    <Page>
        <CommunityNav />

        <h2>
            <Icon v="flag" />
            <T>terminology.headerLong</T>
        </h2>

        <section>
            <T>terminology.info</T>
            <Share :title="$t('terminology.headerLong')" />
        </section>

        <ModerationRules type="rulesTerminology" emphasise />

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <TermsDictionary ref="termsdictionary" load />
    </Page>
</template>

<script>
import { head } from '../src/helpers.ts';
import hash from '../plugins/hash.js';

export default {
    mixins: [hash],
    head() {
        return head({
            title: this.$t('terminology.headerLong'),
            description: this.$t('terminology.info')[0],
        });
    },
    mounted() {
        this.handleHash(this.$config.terminology.hashNamespace || '', (filter) => {
            this.$refs.termsdictionary.setFilter(filter);
        });
    },
};
</script>
