<template>
    <Page>
        <h2>
            <Icon v="chalkboard-teacher" />
            <T>workshops.headerLong</T>
        </h2>

        <section>
            <T>workshops.content</T>
        </section>

        <a :href="`mailto:${$config.workshops.email}`" target="_blank" class="btn btn-primary w-100">
            <Icon v="envelope" />
            {{ $config.workshops.email }}
        </a>

        <Separator icon="heart" />

        <Mission />
    </Page>
</template>

<script>
import { head } from '../src/helpers.ts';

export default {
    head() {
        return head({
            title: this.$t('workshops.headerLong'),
        });
    },
};
</script>
