<template>
    <span v-if="pronoun.getMorpheme(morpheme, counter)">
        <Morpheme :pronoun="pronoun" :morpheme="morpheme" :counter="counter" :prepend="prepend" :append="append" />
        <Pronunciation
            v-if="pronoun.pronounceable && pronoun.getPronunciation(morpheme, counter) && !pronoun.getPronunciation(morpheme, counter).startsWith('=')"
            :pronunciation="`/${prependPr}${pronoun.getPronunciation(morpheme, counter)}${appendPr}/`"
            text
        />
    </span>
</template>

<script>
export default {
    props: {
        pronoun: { required: true },
        morpheme: { required: true },
        counter: { default: 0 },

        prepend: { default: '' },
        prependPr: { default: '' },
        append: { default: '' },
        appendPr: { default: '' },
    },
};
</script>
