<template>
    <main class="container vh-100">
        <Nuxt />
    </main>
</template>

<script lang="ts">
import dark from '../plugins/dark.ts';

export default dark.extend({
    mounted() {
        const darkMode = this.detectDark();
        this.setIsDark(darkMode);
        this.$store.commit('setDarkMode', darkMode);
    },
});
</script>
