<template>
    <Homepage v-if="$config.header" />
    <SelectVersion v-else />
</template>

<script>
import Homepage from '../routes/homepage.vue';
import SelectVersion from '../routes/select.vue';

export default {
    components: { Homepage, SelectVersion },
};
</script>
